<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nombre</mat-card-title>
    <mat-card-subtitle>Autor</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="container mr-5">
      <div class="row">
        <div class="col-md-6">
          <img
            class="img-fluid"
            src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu"
          />
          <h2>Biografia</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Necessitatibus tempora iste impedit veritatis laudantium eos optio
            itaque culpa dolorum, iusto fugiat perferendis aperiam vero natus,
            quis molestiae maiores architecto ipsa?
          </p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <!-- ciclo para los libros-->
            <mat-accordion>
              <mat-expansion-panel
                (opened)="this.panelAbierto = true"
                (closed)="this.panelAbierto = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Libro </mat-panel-title>
                  <mat-panel-description>
                    Desglozar para mas informacion
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- ciclo para la info en especifico-->
                <div class="row">
                  <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Nombre</mat-card-title>
                      <mat-card-subtitle>Autor</mat-card-subtitle>
                    </mat-card-header>
                    <img
                      mat-card-image
                      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                      alt="Photo of a Shiba Inu"
                    />
                    <mat-card-content>
                      <div class="container mr-5">
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Biografia</h2>
                            <p>
                              Lorem ipsum dolor sit amet consectetur,
                              adipisicing elit. Necessitatibus tempora iste
                              impedit veritatis laudantium eos optio itaque
                              culpa dolorum, iusto fugiat perferendis aperiam
                              vero natus, quis molestiae maiores architecto
                              ipsa?
                            </p>

                            <div class="row">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th scope="col">genero de publicacion</th>
                                    <th scope="col">genero de publicacion</th>
                                    <th scope="col">genero de publicacion</th>
                                    <th scope="col">genero de publicacion</th>
                                    <th scope="col">genero de publicacion</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>genero</td>
                                    <td>genero</td>
                                    <td>genero</td>
                                    <td>genero</td>
                                    <td>genero</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-card-content></mat-card
                  >
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content></mat-card
>
