<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="titulo justify-content-center text-center">
        <h1>Detalles del Autor</h1>
      </div>

      <div class="row mt-4" *ngIf="autor">
        <div class="col-md-6">
          <img class="img-fluid" [src]=" ruta +  autor.photo" alt="Foto del autor" />
          <h2>Biografía</h2>
          <p>{{ autor.biography }}</p>
        </div>

        <div class="row mt-4" *ngIf="!autor">
          <div class="col-md-12">
            <p>No se encontraron detalles del autor.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
