<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Mis Compras</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Fecha Pedido</th>
              <th scope="col">Estado</th>
              <th scope="col">Total</th>
              <th scope="col">Dirección Envío</th>
              <th scope="col">Método Pago</th>
              <th scope="col">Libros</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order.fecha_pedido }}</td>
              <td>{{ order.estado }}</td>
              <td>
                {{ order.precio_total | currency : "EUR" : "symbol" : "1.2-2" }}
              </td>
              <td>{{ order.direccion_envio }}</td>
              <td>{{ order.metodo_pago }}</td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let libro of order.libros">
                    <div class="libro-item">
                      <span class="libro-title">{{ libro._id }}</span>
                      <span class="libro-title">{{ libro.nombre }}</span>
                      <span class="libro-info"
                        >{{ libro.cantidad }} x (Subtotal:
                        {{
                          libro.subtotal
                            | currency : "EUR" : "symbol" : "1.2-2"
                        }})</span
                      >
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
