.table-responsive {
  overflow-x: auto;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #fffefe;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #343a40;
  color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.libro-item {
  margin-bottom: 5px;
}

.libro-title {
  font-weight: bold;
}

.libro-info {
  margin-left: 10px;
  color: #ffffff;
}
