<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cantidad de elementos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="text-center">
      <div class="form-container">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Nombre de Usuario</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Nombre"
                  [disabled]="true"
                  value="{{ this.valores.titulo }}"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Cantidad de elementos</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Cantidad"
                  min="0"
                  max="{{ this.valores.cantidad_stock }}"
                  (change)="cuentaDinero($event)"
                  value="{{ this.valores.cantidad_stock }}"
                  [(ngModel)]="cantidadTotal"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Precio de total</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Precio"
                  value="{{ this.precioFinal }}"
                  [(ngModel)]="precioFinal"
                />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <div class="button-container">
        <button
          mat-fab
          extended
          color="primary"
          class="button"
          (click)="
            this.agregarAlCarro(
              this.valores,
              this.cantidadTotal,
              this.precioFinal
            )
          "
        >
          Agregar
        </button>
        <button mat-fab extended (click)="cerrar()" color="warn" class="button">
          Cerrar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
