<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full mb-20 text-center">
      <h1
        class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font"
      >
        Carrito de compras
      </h1>
    </div>

    <ng-container>
      <div class="w-full mx-auto overflow-auto lg:w-2/3">
        <hr />
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col w-full mb-20 text-center">
              <h1
                class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font"
              >
                Lista de Productos
              </h1>
            </div>

            <div class="w-full mx-auto overflow-auto lg:w-2/3">
              <table
                mat-table
                [dataSource]="productos"
                class="mat-elevation-z8"
              >
                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Nombre
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{ element.nombre }}
                  </td>
                </ng-container>

                <!-- Cantidad Column -->
                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Cantidad
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{ element.cantidad }}
                  </td>
                </ng-container>

                <!-- Precio Column -->
                <ng-container matColumnDef="precio">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Precio
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{ element.precio | currency : "GTQ" : "symbol" : "1.2-2" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Accion
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    <button
                      mat-raised-button
                      color="accent"
                      (click)="this.eliminarId(element.id)"
                    >
                      Eliminar
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <div class="total mt-4">
                <h2>
                  Total: {{ sumaTotal | currency : "GTQ" : "symbol" : "1.2-2" }}
                </h2>
              </div>
            </div>
          </div>
        </section>
        <hr class="border-gray-900 border-t-1" />

        <div class="row justify-content-center mt-4">
          <div class="col-md-6 lg:w-2/3 mt-2">
            <button
              mat-raised-button
              color="warn"
              class="w-full"
              (click)="this.eliminarCarrito()"
            >
              Limpiar
            </button>
          </div>
          <div class="col-md-6 lg:w-2/3 mt-2">
            <button mat-raised-button color="primary" class="w-full">
              Pagar
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <hr class="border-gray-900 border-t-1" />

  <div class="porSiElimina" *ngIf="this.eliminado">
    <ngb-alert [dismissible]="false">
      <strong>Advertencia</strong> Todo el carrito se ha eliminado
    </ngb-alert>
  </div>
</section>
