<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col w-full mb-20 text-center">
      <h1
        class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font"
      >
        Carrito de compras
      </h1>
    </div>

    <ng-container>
      <div class="w-full mx-auto overflow-auto lg:w-2/3">
        <hr />
        <section class="text-gray-600 body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col w-full mb-20 text-center">
              <h1
                class="mb-2 text-3xl font-medium text-gray-900 sm:text-4xl title-font"
              >
                Lista de Productos
              </h1>
            </div>

            <div class="w-full mx-auto overflow-auto lg:w-2/3">
              <table
                mat-table
                [dataSource]="this.productos"
                class="mat-elevation-z8"
              >
                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Nombre
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{ element.libro.titulo }}
                  </td>
                </ng-container>

                <!-- Cantidad Column -->
                <ng-container matColumnDef="cantidad">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Cantidad
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{ element.cantidad }}
                  </td>
                </ng-container>

                <!-- Precio Column -->
                <ng-container matColumnDef="precio">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Precio
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    {{
                      element.sub_total | currency : "GTQ" : "symbol" : "1.2-2"
                    }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                  <th mat-header-cell *matHeaderCellDef class="px-4 py-3">
                    Accion
                  </th>
                  <td mat-cell *matCellDef="let element" class="px-4 py-3">
                    <button
                      mat-raised-button
                      color="accent"
                      (click)="this.eliminarId(element)"
                    >
                      Eliminar
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <div class="total mt-4">
                <h2>
                  Total: {{ sumaTotal | currency : "GTQ" : "symbol" : "1.2-2" }}
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-10">
                <mat-form-field class="example-full-width">
                  <mat-label>Dirección</mat-label>
                  <textarea
                    matInput
                    placeholder="Calle, Avenida y Zona"
                    class="custom-textarea"
                    rows="2"
                    [(ngModel)]="direccion"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Metodo de pago</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Metodo"
                    [(ngModel)]="metodo"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </section>
        <hr class="border-gray-900 border-t-1" />

        <div class="row justify-content-center mt-4">
          <div class="col-md-6 lg:w-2/3 mt-2">
            <button
              mat-raised-button
              color="warn"
              class="w-full"
              (click)="this.eliminarCarrito()"
            >
              Limpiar
            </button>
          </div>
          <div class="col-md-6 lg:w-2/3 mt-2">
            <button
              mat-raised-button
              color="primary"
              class="w-full"
              (click)="pagar()"
            >
              Pagar
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <hr class="border-gray-900 border-t-1" />

  <div class="porSiElimina" *ngIf="this.eliminado">
    <ngb-alert [dismissible]="false">
      <strong>Advertencia</strong> Todo el carrito se ha eliminado
    </ngb-alert>
  </div>

  <div class="porSitodoBien" *ngIf="this.todoBien">
    <ngb-alert [type]="'success'" [dismissible]="false">
      <strong>Bien</strong> Compra realizada con exito. Puede dejar una opinion
    </ngb-alert>

    <div class="row">
      <!--generacion de cards-->

      <div class="row">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Nombre de libro</th>
              <th scope="col">Resenia</th>
              <th scope="col">Cantidad de calificacion</th>
              <th scope="col">Enviar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let valores of this.librosComprados">
              <td>{{ valores._id }}</td>
              <td>{{ valores.titulo }}</td>
              <td>
                <div class="col-md-10">
                  <mat-form-field class="example-full-width">
                    <mat-label>Descripcion</mat-label>
                    <textarea
                      matInput
                      placeholder="Descripcion"
                      class="custom-textarea"
                      rows="2"
                      [(ngModel)]="valores.review"
                      name="review-{{ valores._id }}"
                    ></textarea>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <mat-slider
                  min="0"
                  max="5"
                  step="0.1"
                  showTickMarks
                  discrete
                  [displayWith]="formatLabel"
                >
                  <input matSliderThumb [(ngModel)]="valores.ratings" #slider />
                </mat-slider>
              </td>
              <td>
                <button
                  mat-raised-button
                  color="accent"
                  (click)="this.enviarReview(valores._id)"
                >
                  Enviar Resenia
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <hr class="border-gray-900 border-t-1" />
      </div>
    </div>
  </div>
</section>
