<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ this.libro.titulo }}</mat-card-title>
    <mat-card-subtitle
      >{{ this.autor.name }}-
      {{ this.libro.fecha_publicacion | date }}</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="container">
      <div class="image-section">
        <img
          class="img-fluid"
          [src]=   "ruta+ this.libro.imagen_url"
          alt="Photo of a Shiba Inu"
        />
        <hr />
        <h2>Informacion</h2>
        <table class="info-table">
          <thead>
            <tr>
              <th scope="col">Autor</th>
              <th scope="col">Descripción</th>
              <th scope="col">Genero</th>
              <th scope="col">Disponibilidad</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ this.autor.name }}</td>
              <td>{{ this.libro.descripcion }}</td>
              <td>{{ this.libro.genero }}</td>
              <td *ngIf="this.libro.disponibilidad; else otroBloque">
                Hay existencias
              </td>
              <ng-template #otroBloque>No hay existencias</ng-template>
              <td>{{ this.libro.cantidad_stock }}</td>
              <td>{{ this.libro.precio }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Calificación general -->
        <div class="rating">
          <ng-container *ngFor="let item of this.ArrayPuntuacion">
            <svg
              viewBox="0 0 100 100"
              class="star-icon"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill="orange"
                d="M50,0 L58.82,37.86 L97.55,34.55 L64.27,54.64 L78.39,90.45 L50,65 L21.61,90.45 L35.73,54.64 L2.45,34.55 L41.18,37.86 Z"
              ></path>
            </svg>
          </ng-container>
          <span class="reviews"
            >{{ this.libro.puntuacion_promedio }} reviews</span
          >
        </div>
      </div>
      <div class="reviews-section">
        <h2>Reseñas</h2>
        <div
          class="review"
          *ngFor="let valores of this.puntuaciones; let i = index"
        >
          <mat-accordion>
            <mat-expansion-panel
              (opened)="this.panelAbierto = true"
              (closed)="this.panelAbierto = false"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Comentario
                  {{ i + 1 }}</mat-panel-title
                >
                <mat-panel-description>
                  Desglosar para más información
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Descripción</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="specific-rating">
                    <h2>Reseña</h2>

                    <h3>{{ valores.review }}</h3>
                    <div class="stars">
                      <ng-container *ngIf="valores.rating !== undefined">
                        {{ verEstrellasEspecificas(valores.rating, i) }}
                      </ng-container>
                      <div class="stars">
                        <ng-container
                          *ngFor="let index of ArregloEspecificoPuntuaciones[i]"
                        >
                          <svg
                            viewBox="0 0 100 100"
                            class="star-icon"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              fill="orange"
                              d="M50,0 L58.82,37.86 L97.55,34.55 L64.27,54.64 L78.39,90.45 L50,65 L21.61,90.45 L35.73,54.64 L2.45,34.55 L41.18,37.86 Z"
                            ></path>
                          </svg>
                        </ng-container>
                      </div>
                      <span class="reviews-count"
                        >{{ valores.rating }} reviews</span
                      >
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
