<h1>
  {{ currentLibro._id ? 'Editar' : 'Agregar' }}
  libro
  <small *ngIf="currentLibro._id">{{ currentLibro.titulo | titlecase }}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <form class="grid"
              autocomplete="off"
              [formGroup]="miFormulario">

          <mat-form-field class="col-12">

            <mat-label>Titulo</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="titulo"
            />

          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Autor</mat-label>
            <mat-select
              formControlName="autor"
              required
            >
              <mat-option *ngFor="let autor of autores"
                [value]="autor._id">
                {{ autor.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">

            <mat-label>Genero</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="genero"
            />

          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Precio</mat-label>
            <input
              matInput
              type="number"
              required
              min="1"
              formControlName="precio"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Existencia</mat-label>
            <input
              matInput
              type="number"
              min="1"
              required
              formControlName="cantidad_stock"
            />
          </mat-form-field>


          <mat-form-field class="col-12">

            <mat-label>Escoge fecha de publicación</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_publicacion" placeholder="Fecha">
            <mat-hint mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

          </mat-form-field>

          <mat-form-field class="col-12">

            <mat-label>Descripción</mat-label>
            <textarea matInput
                      type="text"
                      required
                      formControlName="descripcion">
            </textarea>

          </mat-form-field>

          <div class="col-12">
            <mat-label>
              Imagen
              <mat-icon >add_photo_alternate</mat-icon>
            </mat-label>
            <input type="file"
                   (change)="cambiarImagen($event)"
                   accept="image/*"
                   multiple="false">
          </div>




        </form>

        <div class="flex justify-content-between">
          <button
            *ngIf="currentLibro._id"
            (click)="onDeleteProducto()"
            mat-flat-button
            color="warn"
          >
            Borrar
          </button>
          <span></span>

          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="miFormulario.invalid"
            (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6 ">

    <mat-card class="justify-content-center">

      <img *ngIf="!imgTemp" [src]=" libroTmp | libroImagen" mat-card-image>
      <img *ngIf="imgTemp" [src]="imgTemp" mat-card-image>
    </mat-card>

  </div>
</div>
